* {
    margin:0;
    padding:0;
    font:12pt Arial;
}

li{
    list-style-type: none;
}

.logo {
    width: 200px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.7% 5.5%;
    align-items: center;
}

.arriba {
    font-size: 20px;
    color: aliceblue;
}

.inicio {
    color: white;
    text-decoration: none;
    transition: color .2s; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inicio:hover {
    color: rgb(64, 64, 64);
}
.inicio li {
    padding-left: 20px;
}
.buscador {
    padding: 15px;
    padding-right: 200px;
    background-color: rgb(21, 21, 21);
    color: rgb(255, 254, 254);
    border: rgb(21, 21, 21);
}

.bordelupa {
    padding: 15px;
    background-color: rgb(21, 21, 21);
    color: rgb(255, 254, 254);
    border: none
}

.lupa {
    height: 15px;
    width: 15px;
}









body {
    background-color: black;
    }
    
div {
    margin: 10px;
  }
  

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(186, 186, 186);
  }
  

  .lista-peliculas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; 
  }
  

  .lista-peliculas > div {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0px;
    text-align: center;
    width: 200px; 
  }
  

  .imagen {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
  }
  
  
  h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: rgb(186, 186, 186);
  }
  
  h5 {
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0;
    color: rgb(186, 186, 186);
  }
  
  a {
    text-decoration: none;
    color: #0077FF;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #0055CC;
  }



h1 {
    font-size: 60px;
    color: rgb(186, 186, 186);
    padding-left: 2.7%;
}
  

  .imagenPeliculaDetalle {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
  }
  
  .tituloPeliculaDetalle {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .calificacionPeliculaDetalle {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .calificacionPeliculaDetalle:nth-of-type(2) {
    font-weight: bold;
  }
  
  .overviewPeliculaDetalle {
    font-size: 16px;
    margin: 10px 0;
  }
  

.nombres{
    text-decoration: none;
}

.titulosResultados{
    padding-top: 2.7%;
    padding-bottom: 2.7%;
    padding-left: 2.7%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px rgb(69 69 69);
    padding-right: 56%;
}

/* footer */

.footerpadding{
    padding-top: 2%;
}
.logofooter {
    
    width: 13.8%;
    display: block;
    padding-top: 2%;
    margin: auto;
	display:block;
}

.paddingtopfooter {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.paddingbottomfooter {
    display: flex;
    justify-content: center;
    padding-bottom: 2.7%;
}


@media (max-width: 420px){

    header div {
        flex-direction: column;
    }

    header li {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .logo {
        align-self: center;
        padding: 0%;
    }

    .buscador {
        padding-right: 50px;
    }

    .bordelupa {
        display: none;
    }



    h2 {
        text-align: center;
    }

    .titulos {
        font-size: 25px;
        padding-left: 0px;
        padding-bottom: 20px;
    }

    .pelicula_principal {
        padding-bottom: 10%;
    }

    .ultimo {
        padding-bottom: 5%;
    }

    .imagen {
        flex-direction: column;
        padding-bottom: 15%;
        padding-top: 3%;
    }

    .peliculas {
        width: 200px;
        height: 120px;
        padding: 2%;
    }

    .resultados {
        padding-bottom: 1.38%;
        padding-left: 2.7%;
        font-size: 20px;
    }

    .logofooter {
        width: 130px;
        height: 25px;
    }

    .paddingtopfooter {
        padding-top: 1%;
        font-size: 13px;
    }

    .paddingbottomfooter {
        padding-bottom: 2%;
        font-size: 13px;
    }


}

.errorfoto{
    width: 600px;
    padding-left: 250px;
}
    

.volverahome{

text-align: center;
color: white;
font-size: 25px;
padding-bottom: 10%;

}
