* {
    margin:0;
    padding:0;
    font:12pt Arial;
}

li{
    list-style-type: none;
}

.logo {
    width: 200px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5% 5.5%;
    align-items: center;
    background-color: #db0000;
}

.arriba {
    font-size: 20px;
    color: aliceblue;
}

.inicio {
    color: white;
    text-decoration:none;
    transition: color .2s; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.1em;

}

.inicio:hover {
    color: rgb(64, 64, 64);
}
.inicio li {
    padding-left: 20px;
}
.buscador {
    padding: 15px;
    padding-right: 200px;
    background-color: rgb(21, 21, 21);
    color: rgb(255, 254, 254);
    border: rgb(21, 21, 21);
}

.bordelupa {
    padding: 15px;
    background-color: rgb(21, 21, 21);
    color: rgb(255, 254, 254);
    border: none
}

.lupa {
    height: 15px;
    width: 15px;
}

body {
    background-color: black;
    margin-top:8%;
    }
/* Estilos para el contenedor de las tarjetas de películas */
.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    margin-top: 1%;
    overflow-x: auto;
  
  }
  
  /* Estilos para cada tarjeta de película */
  .tarjeta {
    flex: 0 0 auto; 
    margin-right: 10px; 
    padding: 10px;
    text-align: center;
    max-width: 250px;
    border-radius: 5px;
    margin-top: 2vh;
  }
  
  /* Estilos para la imagen de la película */
  .imagen {
    max-width: 100%; 
    height: auto;
    border-radius: 5px; 
  }
  

  h2 {
    margin: 10px 0;
    font-size: 1.2em;
    color: beige;
  }
  
  h4 {
    margin: 5px 0;
    font-size: 0.9em;
    color: beige;
  }
  
  .link {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
  }
  
  .link:hover {
    background-color: #0056b3;
  }
  

h1 {
    font-size: 30px;
    color: beige;
    padding-left: 2.7%;
}

.contenedorCentral {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -5vh;
  }
  
  .contenedorDetalles {
    max-width: 90vw;
    text-align: center;
    border-radius: 5px;
    padding: 20px;

  }

  .imagenPeliculaDetalle {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    border: 1px solid white;
  }
  
  .tituloPeliculaDetalle {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .calificacionPeliculaDetalle {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .calificacionPeliculaDetalle:nth-of-type(2) {
    font-weight: bold;
  }
  
  .overviewPeliculaDetalle {
    font-size: 16px;
    margin: 10px 0;
  }

  ul{
    font-size: 20px;
    color: beige;
  }
  
.nombres{
    text-decoration: none;
}

.titulosResultados{
    padding-top: 2.7%;
    padding-bottom: 2.7%;
    padding-left: 2.7%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px rgb(69 69 69);
    padding-right: 56%;
}

/* footer */
.footer{
margin-top: 8%;
}

.footerpadding{
    padding-top: 2%;
}
.logofooter {
    
    width: 13.8%;
    display: block;
    padding-top: 2%;
    margin: auto;
	display:block;
}

.paddingtopfooter {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.paddingbottomfooter {
    display: flex;
    justify-content: center;
    padding-bottom: 2.7%;
}

.errorFoto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -20vh;
  }
  
  .errorFoto img {
    max-width: 70%;
    max-height: 70%;
  }

  .volverahome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15vh;
    font-size: 2em;
    color: #fff;
  }


@media (max-width: 420px){

    header div {
        flex-direction: column;
    }

    header li {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .logo {
        align-self: center;
        padding: 0%;
    }

    .buscador {
        padding-right: 50px;
    }

    .bordelupa {
        display: none;
    }

    h2 {
        text-align: center;
    }

    .titulos {
        font-size: 25px;
        padding-left: 0px;
        padding-bottom: 20px;
    }

    .pelicula_principal {
        padding-bottom: 10%;
    }

    .ultimo {
        padding-bottom: 5%;
    }

    .imagen {
        flex-direction: column;
        padding-bottom: 15%;
        padding-top: 3%;
    }

    .peliculas {
        width: 200px;
        height: 120px;
        padding: 2%;
    }

    .resultados {
        padding-bottom: 1.38%;
        padding-left: 2.7%;
        font-size: 20px;
    }

    .logofooter {
        width: 130px;
        height: 25px;
    }

    .paddingtopfooter {
        padding-top: 1%;
        font-size: 13px;
    }

    .paddingbottomfooter {
        padding-bottom: 2%;
        font-size: 13px;
    }


}

